body{
    background:rgba(77, 106, 120, 0.957);
    color:black;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main{
    width: 600px;
    background:rgba(79, 111, 252, 0.422);
    border-radius: 4px;
    height: 86vh;
}

.header{
    background-color: blue;
    padding: 20px 40px;
}
.title{
    margin:0;
    text-align: center;
    border-radius: 5px;
}

.form{
    padding: 30px 40px ;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.label{
    display: inline-block;
    margin-bottom: 5px;
    color:rgb(14, 19, 19);
}
.input{
    border:2px solid gray;
    padding: 10px;
    border-radius: 5px;
    display:block;
    font-size: 14px;
    width:95%;
    margin-bottom:0.5rem;

}

.input:focus{
    outline: none; 
    border-color:blue;
}

.form-control.success input{
    border-color: #2ecc71;
 }
 .form-control.error input{
    border-color:#e74c3c;
 }

.form-control i{
    visibility: hidden;
    position: absolute;
    top: 40px;
    right:10px;
}
.form-control.success i.fa-check{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation{
    color:#e74c3c;
    visibility: visible;
}
.error{
    color:red;;
}  
.button{
    background:rgba(48, 6, 237, 0.957);
    border: none;
    color:white;
    display: block;
    width: 85%;
    margin: auto;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2rem;
}
.button:hover{
    background-color: rgb(6, 254, 246);
}

.card{
    width: 20rem;
}
/* @media screen and (min-width: 425px) {
    .main{
        width: 300px;
    }
  }
  
  @media screen and (min-width: 375px) {
    .main{
        width: 280px;
    }

  } */

